.produtos__titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.titulo__verMais {
  display: flex;
  align-items: center;
  color: var(--azul-destaque);
  font-size: 0.875rem;
  font-weight: 700;
}

.verMais__seta {
  margin-left: 0.85rem;
}

.card__item:nth-child(5),
.card__item:nth-child(6) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .card__item:nth-child(5),
  .card__item:nth-child(6) {
    display: block;
  }
}
