.login.container {
  padding: 5.625rem 1rem;
}

.login .formulario {
  margin-left: 0;
  text-align: center;
}

.login .formulario__campo {
  max-width: 400px;
  margin-inline: auto;
  text-align: left;
  position: relative;
}

.login .formulario__botao {
  margin-top: 1.7rem;
}

.rodape {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .login .formulario__botao {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .login .botao {
    width: 100%;
    max-width: 400px;
  }
}
